body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.title p {
	border-right: 0.15em solid '#ffb503';
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: calc(1.3vw + 12px);
	white-space: nowrap;
	overflow: hidden;
	line-height: 2;
	z-index: 0;
}
.title p:nth-child(1) {
	width: 10em;
	-webkit-animation: type 3s steps(40, end);
	animation: type 3s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.title p:nth-child(2) {
	width: 8.7em;
	opacity: 0;
	-webkit-animation: type2 3s steps(40, end);
	animation: type2 3s steps(40, end);
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.title p:nth-child(3) {
	width: 23em;
	opacity: 0;
	-webkit-animation: type3 5s steps(40, end);
	animation: type3 5s steps(40, end);
	-webkit-animation-delay: 7.5s;
	animation-delay: 7.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	font-size: calc(0.5vw + 10px);
}

@keyframes type {
	0% {
		width: 0;
	}
	99.9% {
		border-right: 0.15em solid '#ffb503';
	}
	100% {
		border: none;
	}
}

@-webkit-keyframes type {
	0% {
		width: 0;
	}
	99.9% {
		border-right: 0.15em solid '#ffb503';
	}
	100% {
		border: none;
	}
}

@keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15em solid '#ffb503';
	}
	100% {
		opacity: 1;
		border: none;
	}
}

@-webkit-keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15em solid '#ffb503';
	}
	100% {
		opacity: 1;
		border: none;
	}
}

@keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15em solid '#ffb503';
	}
	100% {
		opacity: 1;
		border: none;
	}
}
